<app-banner-principal></app-banner-principal>

@if (filmesEmCartaz$ | async; as filmesEmCartaz){
  <h2 class="container fs-4 mb-0 text-light">Filmes em Cartaz</h2>
  <app-carrossel-midias [tipoMidia]="filmesEmCartaz.type" [midias]="(filmesEmCartaz.results)"></app-carrossel-midias>
}

<hr class="d-flex mt-5 border-4">

<div class="container py-4">
  @if(midiasPopulares$ | async; as midiasPopulares)
  {
    <div class="d-flex aling-itens-center gap-3">
    <h2 class="fs-4 mb-0 text-light">Populares</h2>

    <div class="btn-group rounded-pill overflow-hildden" role="group">
      <input (change)="midiasPopularesSubject$.next(tipoMidia.Filme)"  checked="true" type="radio" class="btn-check" name="tipoMidiasPopulares" id="radioMidiasPopularesFilmes">
      <label for="radioMidiasPopularesFilmes" class="btn btn-sm btn-outline-primary border-0">Filmes</label>

      <input (change)="midiasPopularesSubject$.next(tipoMidia.Tv)" type="radio" class="btn-check" name="tipoMidiasPopulares" id="radioMidiasPopularesTv">
      <label for="radioMidiasPopularesTv" class="btn btn-sm btn-outline-primary border-0">Tv</label>
    </div>
  </div>

  <app-carrossel-midias [tipoMidia]="midiasPopulares.type" [midias]="midiasPopulares.results"></app-carrossel-midias>

  }

  <hr class="d-flex mt-5 border-4">

  @if (midiasMaisVotadas$ | async; as midiasMaisVotadas)
  {
    <div class="d-flex aling-itens-center gap-3 mt-5">
        <h2 class="fs-4 mb-0 text-light">Mais Votados</h2>

      <div class="btn-group rounded-pill overflow-hildden" role="group">
        <input (change)="midiasMaisVotadasSubject$.next(tipoMidia.Filme)"  checked="true" type="radio" class="btn-check" name="tipoMidiasMaisVotadas" id="radioMidiasMaisVotadasFilmes">
        <label for="radioMidiasMaisVotadasFilmes" class="btn btn-sm btn-outline-primary border-0">Filmes</label>

        <input (change)="midiasMaisVotadasSubject$.next(tipoMidia.Tv)" type="radio" class="btn-check" name="tipoMidiasMaisVotadas" id="radioMidiasMaisVotadasTv">
        <label for="radioMidiasMaisVotadasTv" class="btn btn-sm btn-outline-primary border-0">Tv</label>
      </div>
    </div>

    <app-carrossel-midias [tipoMidia]="midiasMaisVotadas.type" [midias]="midiasMaisVotadas.results"></app-carrossel-midias>
}
<!-- End -->
</div>
