<div class="container py-1">
  <div class="row flex-nowrap overflow-x-scroll g-3 my-2 app-scrollbar-customizado">
  @for(midia of (midias); track midia.id){
    <div class="col-5 col-md-2">
      <a class="text-decoration-none" [routerLink]="[':tipoMidia', midia.id, 'detalhes']">
        <div class="card rounded-3">
          <img class="card-img-top rounded-3"
          style="min-height: 270px;"
          [src]="midia.poster_path"
          [alt]="midia.title ?? midia.name"
          />
        </div>

        <div class="mt-2">
          <small class="text-muted">{{
            midia.release_date ?? midia.first_air_date
            }}</small>
            <p class="app-titulo-card fw-bold">
              {{(midia.title ?? midia.name)?.slice(0, 30)}}
            </p>
        </div>
      </a>
    </div>
  }
  </div>
</div>
