
<div class=" mb-3 app-banner-principal">
  <div class="app-container-principal container">
    <div class="row gap-3 w-100">
      <header class="col d-grid gap-3 text-light">
        <div class="mb-5 mt-4">
          <h1 class=" fs-3 fw-bolder display-5">Bem vindo(a).</h1>
          <h2 class="fs-5">Tudo o que você precisa saber antes de escolher seu próximo filme ou série está aqui!</h2>
        </div>
        <app-barra-busca class="mt-5" (buscar)="buscar($event)"></app-barra-busca>
      </header>
    </div>
  </div>
</div>


