@use 'bootstrap';
@use 'bootstrap-icons';


$primary-color: #1fade6;
$secondary-color: #1faee6b0;
$accent-color: #DB3A34;
$background-color: #323031;
$text-color: #081c22;
$neutral-color: #eef1f1;


.container {
  max-width: 1200px !important;
}

.btn-group.rounded-pill {
  border: 1px solid $primary-color;
}

.btn-group.rounded-pill .btn {
  border-radius: 50rem !important;
  transition: all 0.2s ease;

  width: 100px;
  height: 30px;
  color: $primary-color;
  font-size: 15px;
}

.btn-group.rounded-pill .btn-check:checked + .btn {
  background-color: $primary-color;
  color: $neutral-color;
  font-weight: 600;
}

.app-scrollbar-customizado {
  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: $neutral-color;
    border-radius: 10px;

    &:hover {
      background-color: rgb(210, 223, 247);
    }
  }
}

.app-background-gradiente {
  background-image: linear-gradient(to right,
    rgb(75, 118, 155),
    rgba(45, 62, 117, 0.877)
  );
}

.app-fundo-navbar {
  background-color: $primary-color;
  box-shadow: $background-color(10, 10, 10, 10);
}

.app-botao-navbar {
  min-width: 130px;
  text-align: center;
  font-size: 17px;

  &::after {
    content: '';
    width: 0px;
    height: 1px;

    display: block;
    background: $neutral-color;
    transition: 300ms ease-in-out;
  }
  &:hover::after {
    width: 100%;
  }
}

// .app-card-img-hover{
//   transition: border 0.3 ease, transform 0.3s ease;
//   border: 2px solid transparent;
//   border-radius: 4px;
// }
// .app-card-img-hover:hover{
//   border: 4px solid $text-color;
//   transform: scale(1,);
// }

.app-barra-busca {
  background-color: $neutral-color;
  border: none;

  &:focus {
    outline: none;
  }
}

.app-banner-principal {
  background-size: cover;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(to right, rgba(71, 122, 180, 0.774), rgba(17, 67, 143, 0.918)),
    url('/banner-principal.webp');
}


.app-container-principal {
  min-height: 360px;
  padding-top: 6rem;
}

.app-porcentagem-nota {
  background-color: #081c22;
  color: $neutral-color;

  .app-valor-porcentagem {
    &::after {
      content: '%';
      font-size: 9px;
    }
  }
}

.app-icone-absoluto {
  position: absolute;
  bottom: -10px;
  right: 5px;
}

.app-borda-nota-mais-baixa {
  border: 2px solid transparent;
  border-top-color: $accent-color;
}

.app-borda-nota-baixa {
  border: 2px solid transparent;
  border-top-color: $accent-color;
  border-right-color: $accent-color;
}

.app-borda-nota-media {
  border: 2px solid transparent;
  border-top-color: $background-color;
  border-right-color: $background-color;
  border-bottom-color: $background-color;
}

.app-borda-nota-alta {
  border: 2px solid $accent-color;
}

.app-botao-gradiente {
  border: none;
  background: linear-gradient(to right, rgb(30, 94, 213) 0%, rgb(130, 190, 247));
  color: $neutral-color;
}

.app-titulo-card {
  &:hover {
    color: $primary-color;
  }
}

.app-banner-fundo {
  background-color: $background-color;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-overlay-banner {
  background-image: linear-gradient(to right,
    rgb(115, 117, 245) ,
    rgba(48, 47, 126, 0.84),
    rgba(30, 15, 161, 0.84)
  );
}
